<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='touchup.css') }}">
    <title>Spell Checker</title>
</head>
<body>
<section id="project" class="hero is-fullheight">
    <div class="hero-head">
        <h1 class="has-text-centered is-fullwidth is-size-3">Runya Speller</h1>
    </div>
    <div class="hero-body">
        <div class="container">
            <ul>
                <li><a href="/luganda">Luganda</a></li>
                <li><a href="/runyankole">Runyankole</a></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>
