* {
  font-family: 'Nunito', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.active{
    display: unset !important;
}


#dropdown-menu{
    width: 100%;
}

.button.is-loading::after, .control.is-loading::after, .loader, .select.is-loading::after {
	display: block;
	height: 2em;
	width: 2em;
}

.spell-check {
	min-height: 80vh;
}


.padding-left {
	margin-left: 2vw;
}
